:root {
    --main-color: #fff;
    --main-text-shadow: 0 0 10px #000;
    --bg-color-1: #000;
}

@font-face {
    font-family: MainFont;
    src: url(../fonts/KodeMono-VariableFont_wght.ttf);
}

* {
    position: relative;
    user-select: none;
    -webkit-user-drag: none;
    font-family: MainFont;
    color: var(--main-color);
}

div[role="img-contain"] {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

div[role="img-cover"] {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100svh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
}

img {
    pointer-events: none;
}

#initSplash {
    position: absolute;
    height: 100svh;
    width: 100vw;
    background-color: black;
    overflow: hidden;
    z-index: 999;
    animation: initSplashAnim 1.5s ease forwards 1.5s;
}

#initSplashOverlay {
    position: absolute;
    height: 100svh;
    width: 100vw;
    background-image: url(../images/pc_screen_overlay.jpg);
    opacity: .05;
}

#initLogoContainer {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    width: 100vw;
}

#initSplashLogo {
    width: 30%;
    animation: initLogoAnim 1s steps(1) forwards;
    filter: blur(1px);
}

#headerContainer {
    display: flex;
}

#header {
    display: flex;
    align-items: end;
    justify-content: end;
    height: 100svh;
    width: 100vw;
    background-image: url(../images/headerbg.jpg);
    background-size: cover;
}

#headerGabi {
    position: absolute;
    top: 0;
    left: 0;
    height: 100svh;
}

#headerText {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 6vh;
    text-shadow: var(--main-text-shadow);
}

#menuButton {
    position: fixed;
    top: 20px;
    left: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 60px;
    border-radius: 5px;
    background-color: var(--bg-color-1);
    cursor: pointer;
    transition: all 0.3s ease;
    z-index: 998;
}

#menuButton:active {
    scale: 0.9;
}

@media (max-width: 1200px) {
    #initSplashLogo {
        width: 50%;
    }

    #headerContainer {
        flex-direction: column;
    }

    #headerLogo {
        width: 60vw;
    }

    #menuButton {
        top: 20px;
        right: 20px;
        left: auto;
    }
}

@keyframes initSplashAnim {
    0% {
        width: 100vw;
    }
    100% {
        width: 0vw;
    }
}

@keyframes initLogoAnim {
    0% {
        opacity: 0;
    }
    10% {
        opacity: 1;
    }
    20% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    80% {
        opacity: 0;
    }
    90% {
        opacity: 1;
    }
    100% {
        opacity: 1;
    }
}
